/*
 * Copyright 2023-2026 nnda <talk@nnda.dev>
 *
 * SPDX-License-Identifier: MIT
 */

/* Variables declarations. */
:root {
  --text: #e7e9e8;
  --link: #eaeaea;
  --primary: #fc3a78;
  --secondary: #3ae5f9;
  --gradient-primary: linear-gradient(90deg, var(--primary), #b23ee0);
  --gradient-secondary: linear-gradient(90deg, var(--secondary), #2a8aec);
  --background: #0d0e12;
  --background-lighten: #101218;
  --background-window: #101218;
  --shadow: #101b;
  --transparent: #0000;
  --mask-gradient: linear-gradient(90deg, #fff 50%, #0000);
  --neko-face: "≈ •ω• ≈";

  animation:
    8.5s infinite global-i
    linear(0, 0.27 11.1%, 0.434 16.7%, 0.641 22.2%, 0.998 30.1%, 0.779 36.1%, 0.728 38.6%, 0.712 40.9%, 0.728 43.2%, 0.773 45.5%, 0.999 52.2%, 0.894 56%, 0.871 57.6%, 0.863 59.2%, 0.869 60.7%, 0.891 62.4%, 1 67.4%, 0.951 70.3%, 0.936 72.9%, 0.949 75.4%, 1 79.8%, 0.981 82%, 0.975 84.1%, 1 90.4%, 0.995 93.4%, 1);
}

@font-face {
  font-family: "Hi Melody";
  src: url("https://cdn.jsdelivr.net/gh/nndda/itchio-profile@main/assets/fonts/hi-melody.400.woff2") format("woff2");
}

@font-face {
  font-family: FA;
  src: url("https://cdn.jsdelivr.net/gh/nndda/itchio-profile@main/dist/i.woff2") format("woff2");
}

@property --i {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@keyframes global-i {
  0%, 20% {
    --i: 0;
  }

  40%, 60% {
    --i: 1;
  }

  80%, 90% {
    --i: 2;
  }
}


/* Merged common positioning to save characters. */
#profile_header,
.user_links,
.custom-w,
.custom-y,
.custom-wi > div,
.custom-list-words,
.custom-wr,
.game_column,
.custom-nkmm,
.user_game_grid,
.collection_row
{
position:relative;
}

.custom-h,
.custom-j,
.custom-k,
.custom-k>*,
.custom-gr,
.custom-bg,
.custom-ws > strong
{
position:absolute;
}

.game_column,
.user_game_grid,
.user_links {
  &::before,
  &::after
  {
    position: absolute;
  }
}



/* Overall page setup and resets */
.user_page {
  max-width: 1200px;

  /* border: 1px solid #fff3; */
  margin: auto;
  box-shadow: 0 -2em 3em var(--shadow);
}

.inner_column {
  max-width: 100%;
}

#profile_header,
.user_page .profile_content {
  padding: 0;
  margin-bottom: 0;
  font-family: "Zen Kaku Gothic New", Lato, FA;
  border-bottom: 0;
}

/* Soften the underline color of links. */
a {
  text-decoration-color: #fff5;
}



/* Jumping cat animation */
.custom-st {
  /* INLINED

  margin: -12px 1em;
  height: 3em;
  */

  image-rendering: pixelated;
  animation: 2s cubic-bezier(.175, .885, .32, 1.275) infinite alternate jumping;
}

@keyframes jumping {
  15%, 5% {
    translate: 0;
  }

  10% {
    translate: 0 -1em;
  }
}



/* Header banner */
#profile_header {
  /* border: 0; */

  & img {
    width: 100%;

    /* Responsiveness. */
    height: var(--height-min);
    object-fit: cover;
  }
}



/* Scrolling background. */
.custom-bg {
  inset: -52em;
  background: url("https://cdn.jsdelivr.net/gh/nndda/itchio-profile@main/assets/hero/hideout.svg");
  background-size: 52em auto;
  animation: 9s linear infinite bg-scroll;
}

@keyframes bg-scroll {
  to {
    transform: translate(52em, 52em);
  }
}



/* Links. */
.user_links
/* .custom-n */
{
  display: flex;
  flex-wrap: wrap;
  gap: .35em 1em;

/* } */

/* .user_links { */
  padding: .6em;
  margin-bottom: 0 !important;
  color: var(--primary);
  background: var(--background-lighten);
  border-top: 1px solid #fff2;
  box-shadow: 0 -2em 3em 1em var(--shadow);

  &::before {
    /* Profile picture */
    top: -4em;

    /*
    width: 96px;
    height: 96px;
    commented out in favour of:
    */

    display: inline-flex;
    contain: paint;
    content: url("https://cdn.jsdelivr.net/gh/nndda/itchio-profile@main/assets/profile.webp");
    border-radius: 9px;
    box-shadow: 0 0 8px var(--shadow);
  }

  & .link_group {
    /* Space for profile picture */
    &:first-child {
      margin-left: 7.5em;
    }

    /* Replace default itch.io link icons */
    & .icon-link, & .icon_twitter {
      display: none;
    }

    &::before {
      font-size: 1.45em;
    }

    /* 'Website' icon */
    &:nth-child(2)::before {
      content: "";
    }

    /* Twitter icon */
    &:nth-child(3)::before {
      content: "";
    }
  }
}

.user_page svg.svgicon {
  opacity: 1;

  & > path {
    fill: var(--primary);
  }
}

/* Platform + handle refactor */

/*
.link_group, .custom-n > a {
  display: flex;
  align-items: center;

  &::before, .custom-ic {
    font-size: 1.6em;
    color: var(--icon-col);
  }
  & .custom-ic {
    margin-right: .25em;
  }

  & .svgicon, .icon, .custom-ic {
    &:is(svg) {
      height: 1.6em;
      width: 1.6em;

      & > path {
        fill: var(--icon-col);
      }
    }

    & + a, + .custom-pn{
      display: flex;
      flex-direction: column;
      margin: .25em;

      color: var(--text-col, #fd81a9);

      text-decoration: none;
      font-size: .7em;

      &:is(a)::before, > span {
        content: var(--soc-name, "Website");
        line-height: .75;

        font-size: 2em;
        font-family: "Hi melody";
      }
    }
  }

  & .icon_itchio_new {
    --icon-col: #fa5c5c;

    & + a {
      --soc-name: "itch.io";
      --text-col: #fdaeae;
    }
  }

  & .icon_mastodon {
    --icon-col: #6364ff;

    & + a {
      --soc-name: "Mastodon";
      --text-col: #b1b2ff;
    }
  }

  &:has(> .icon_twitter) {
    --icon-col: #009ef7;

    & a {
      --soc-name: "Twitter";
      --text-col: #80cffb;
    }
  }

  & .icon_bluesky {
    --icon-col: #0285ff;

    & + a {
      --soc-name: "Bluesky";
      --text-col: #81c2ff;
    }
  }
}
.custom-n {
  row-gap: .6em;
  font-size: .9em;
  --text-col: #e7e9e8;

  & > a {
    text-decoration: none;
  }

  & > div {
    flex-basis: 100%;
  }
}
*/


/* Corner border background */
:is(.custom-wi, .game_column) > div {
  border: 1.2em solid #0000;
  border-image: url("https://cdn.jsdelivr.net/gh/nndda/itchio-profile@main/assets/b.png") 30;
}



/* Window panel UI */
.custom-w {
  background: var(--background-window);
  border: 1px solid #fff2;
  border-radius: 4px;
  box-shadow:
    /*9px 9px 0 -3px #bbb,*/
    9px 9px 0 -3px #fff2,
    0 0 2em 0 var(--shadow);
}

.user_profile {
  contain: paint;

  & > .custom-g2 {
    margin-bottom: 6em;
  }
}



/* "ABOUT ME" vertical side label */
.custom-ws > strong {
  top: 9em;

  /*
  margin: 9em 0 0 -4.5em;
  commented out in favour of:
  */
  left: -4.5em;

  /* position: absolute; */
  padding: 7px 1em;
  color: var(--background);
  background: var(--gradient-primary);
  border-radius: 4px;
  rotate: -90deg;
}


/* Words carousel */
.custom-list-words {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 1.3em;
  contain: strict;
  font-size: 1.85em;
  line-height: 1.3em;
  white-space: nowrap;

  & > span {
    translate: 0 calc(var(--i) * -1.3em);
  }
}



/* Vertical & horizontal 'frame' dashed lines */
.custom-h,
.custom-j {
  /* position: absolute; */
  inset: 10% -200%;
  z-index: -9;
  border: 4px dashed #fff3;

  /* INLINED

  height: 80%;
  width: 500%;
  */
}

.custom-h {
  inset: -100% 10%;

  /* INLINED

  height: 300%;
  width: 80%;
  */
}



/* Window container */
.custom-wr {
  max-width: 26.5em;
  margin: 0 auto 15em;
}

/* Gradient bar */
.custom-g2 {
  height: .5em;
  background: var(--gradient-primary);
}

/* Animated yellow stripes */
.custom-y {
  /* position: relative; */
  height: 1em;
  margin-top: 1em;
  overflow: hidden;

  & > div {
    position: absolute;
    inset: 0;
    width: 200%;
    background:
      repeating-linear-gradient(
        45deg,
        #0000, #0000 1em,
        #ffd90e 1em, #ffd90e 2em
      );
    animation: 18s linear infinite running-stripes;
  }
}

@keyframes running-stripes {
  to {
    translate: -50%;
  }
}



/* Support window */
.custom-wn {
  float: right;
  margin: -5em -2vw 0 0;

  & > .custom-wi > div {
    display: flex;
    gap: .25em;
    padding: 1em 0;
  }

  & .custom-g2 {
    --gradient-primary: var(--gradient-secondary);
  }
}



.custom-k,
.custom-k > *
{
  /* position: absolute; */
  inset: -1.5em;
  z-index: -1;

  /* INLINED

  width: 100%;
  height: 110%;
  */

  border: 1.5em solid #0000;
  border-image: url("https://cdn.jsdelivr.net/gh/nndda/itchio-profile@main/assets/b2.png") 30 !important;
}

.custom-k > * {
  /* INLINED

  height: 10%;
  text-align: center;
  */

  top: 80%;
  padding: 1.5em;
  font-size: 1.5em;
  border: 0;
}



/* Support button */
a.custom-cb {
  flex-grow: 1;
  padding: .2em;
  font-size: 1.2em;
  color: var(--background);
  text-align: center;
  text-decoration: none;
  background: var(--primary);

  &:first-child {
    --primary: var(--secondary);

    text-align: center;
    border-radius: 7px 2px 2px 7px;
  }

  &:last-child {
    --primary: #f0ca0f;

    border-radius: 2px 7px 7px 2px;
  }
}



/* 👉👈 */
.custom-uwu > img {
  --d: 1;

  width: 1.5em;
  height: 1.5em;
  margin: .2em .1em;
  transform-origin: center;
  animation: plzzzz 1.15s ease-out infinite;

  &:last-child {
    --d: -1;
  }
}

@keyframes plzzzz {
  0%, 30%, 75%, 100% {
    rotate: 0deg;
    translate: 0;
  }

  10%, 50%  {
    rotate: calc( 9deg * var(--d) );
    translate: calc( 5px * var(--d) ) 0;
  }
}



/* Window's title bar */

/* Buttons */
.custom-wb {
  margin: 0 6px;

  & > :last-child {
    color: var(--primary);
  }
}



/* Title bar */
.custom-wt {
  display: flex;
  padding: 6px 6px 3px;

  /* font-weight: bold; */
  white-space: nowrap;
  background: var(--background);

  & > :first-child {
    padding: 4px 1em;
    margin-bottom: -4px;
    contain: paint;

    /* font-family: monospace; */

    /* text-transform: uppercase; */
    font-size: .85em;
    color: #0000;
    background: var(--background-window);
    border-radius: 7px 7px 0 0;

    & > strong {
      /* overflow: hidden; */
      text-shadow: 0 0 var(--text), 12ch 0 var(--text);
      animation: 3s linear infinite running-text;
    }
  }

  & > :last-child {
    flex-grow: 1;
  }
}

/*
.custom-wn .custom-wt strong {
  --primary: var(--secondary);
}
*/

/* Running title bar text */
@keyframes running-text {
  to {
    text-shadow: -12ch 0 var(--text), 0 0 var(--text);
  }
}



/* Window's content */
.custom-wi {
  padding: 1em;

  & > div {
    /* position: relative; */

    /* max-width: 18em; */
    padding: 2em 0 3.5em;

    /* margin: auto; */
    letter-spacing: .2ch;
  }
}




/* Gearwheels */
.custom-grc {
  padding: 6em !important;
  margin-bottom: -12em;
  overflow: hidden;
  border: 0 !important;
}

.custom-gr {
  top: 1.5em;

  /* position: absolute; */

  right: -5em;
  width: 10em;
  rotate: calc(var(--i) * 60deg);
}

.custom-wr > .custom-gr { /* stylelint-disable-line csstools/use-nesting */
  /* display: none; */
  top: 9em;
  right: -7em;
  width: 13em;
  opacity: .6;
  rotate: calc(var(--i) * -120deg);
}


/* Gradient fill text */
.collections h2,
.custom-wi h3 {
  font-family: "Hi melody";
  font-size: 3em;
  background: var(--gradient-primary);
  background-clip: text;
  -webkit-text-fill-color: #0000;
}



/* Main window's strikethrough text */
s {
  text-decoration-color: var(--primary);
}



/* Main window's social links */
.custom-n {
  padding: 1em;

  & > a {
    display: inline-block;
    margin: .4em;

    & > .custom-ic {
      display: inline-block;
      margin-right: .2em;
      color: var(--primary);
    }
  }
}



.custom-w hr {
  margin: 0 1em ;
  background: var(--gradient-primary);
}

.custom-f {
  position: relative;
  z-index: 9;
  padding: 1.2em;
}

.custom-f, .custom-f > span {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}



/* Game items/card */
.game_cell {
  background: var(--background-lighten);
  border: 1px solid #fff3;
  border-radius: 4px;
  box-shadow: 0 0 8px var(--shadow);
}

.game_cell_data {
  min-height: 10em;
  margin-top: .3em !important;

  & > * {
    padding: .2em 1em;
  }
}

.link_group .icon,
.game_platform > .icon {
  margin: .5em;
  color: var(--primary);
}

.web_flag {
  font-weight: bold;
  color: var(--background) !important;
  background: var(--secondary) !important;
}

.game_title {
  display: flex !important;
  padding-bottom: .5em;
  border-bottom: 1px dashed #fff6;
}

.price_value {
  padding: .25em 0 .5em .5em !important;
  font-size: 2em;
  background: 0 !important;
  border-left: 1px solid #fff4;

  &::first-letter {
    margin-right: .2em;
    color: var(--primary) !important;
  }
}

.collections .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}




/* Specific project items */

/*
.game_column {
  & [data-game_id="2223248"] {
    background: #121118;
  }

  & [data-game_id="1839651"] {
    background: #341f29;

    & a {
      color: #e4d8c7 !important;
    }
  }

  & [data-game_id="3407605"] {
    background: #080910;

    & a {
      color: #cdeeee !important;
    }
  }
} */



/* Game column */

/* Display: Grid */
.game_column {
  padding: 6em 2em 2em;
  border-top: 5px solid var(--primary) !important;
  border-bottom: 1px solid;
  box-shadow: 0 0 3em 0 var(--shadow);

  & > div {
    grid-template-columns: 25% 28% 25% !important;
    gap: 2em;
    align-items: center;
    justify-content: center
  }

  /*
  & > .game_cell_data {
    min-height: 10em;
  }
  */

  &::before,
  &::after
  {
    /* position: absolute; */
    top: .3em;
    left: 0;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    font-size: 92px;
    color: #0000;
    white-space: nowrap;
    text-shadow: 0 0 #eee2, 1600px 0 #eee2;
    content: "ハイライトされたプロジェクト";
    animation: 19s linear infinite running-text-large;
  }

  &::after {
    top: auto;
    bottom: .2em;
    animation-direction: reverse;
  }
}

@keyframes running-text-large {
  to {
    text-shadow: -1600px 0 #eee2, 0 0 #eee2;
  }
}



/* Cat-shaped divider */
.custom-nkmm {
  z-index: 9;
  display: flex;
  gap: 4em;
  justify-content: center;
  margin-bottom: -.85em;
}

.user_game_grid::before {
  top: -1.5em;

  /* position: absolute; */
  width: 100%;
  font-family: Lato;
  font-size: 4em;
  text-align: center;
  content: var(--neko-face);
  animation: neko-wink 2s infinite alternate;
}

@keyframes neko-wink {
  25% {
    content: "≈ >ω< ≈";
  }

  35% {
    content: var(--neko-face);
  }
}



/* Collection - "Assets" */
[data-collection_id="2974529"] {
  --gradient-primary: var(--gradient-secondary);
  --primary: var(--secondary);
}



/* Collections row */

/*
.collections h2 {
  letter-spacing: .1em;
}
*/

.carousel_wrapper {
  border-bottom: 2px solid var(--primary);

  /* stylelint-disable-next-line */
  scrollbar-color: var(--primary) var(--background) !important;

  /* Fade out collection list */
  mask: var(--mask-gradient);
  mask: alpha var(--mask-gradient);
}

.collection_description {
  flex-grow: 1;

  /* text-overflow: clip !important; */
  white-space: normal !important;
}



@media ( width >= 780px ) {
  .collections {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2em 0 !important;

    & .inner_column {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .collection_row {
    margin: 0 .8em;

    /* overflow: hidden; */

    /*
    &:first-child {
      padding-left: 1.2em
    }

    &:last-child {
      padding-right: 1.2em
    }
    */
  }
}



/* Mobile view */
@media ( width <= 900px ) {
  .user_page > * {
    border-right: 0;
    border-left:  0;
  }

  .user_page_wrap {
    --height-min: 26vh;
  }

  .custom-w.custom-wn {
    margin: -4.5em 3em;
  }

  .game_column .game_grid_widget {
    grid-template-columns: 250px !important;
  }
}
